[2015-03-25 01:07] benrussell opened #4 "Duplicate Dataref Registration"
Plugin will accept multiple plugin registration messages and add all items to the pool of known datarefe names.

This results in duplicate items being displayed.

This can build up to annoying levels over multiple hours of development.

Suggest adding either loop scanning code or a secondary std::map<string,int> check to detect multiple items being added.

Worth noting that DRE has been reported t

[2015-04-16 09:57] leecbaker commented on #4
Interesting. I'll have a look at this.

[2015-05-02 07:36] leecbaker commented on #4
I've confirmed that datareftool does have a problem with accepting duplicate dataref registrations. I will be fixing this soon.

[2015-05-02 09:19] leecbaker commented on #4
@benrussell I believe I have a fix for this issue committed. Let me know if you're still having an issue.

[2015-05-02 09:19] #4 closed

[2015-05-09 22:34] jason-watkins opened #6 "Linux clipboard support"
I've come up with a basic implementation for `getClipboard` on Linux (available [here](https://github.com/jason-watkins/datareftool/blob/master/src/clipboard_linux.cpp)), but I'm not sure how best to proceed with `setClipboard`.

The way the X11 "clipboard" works, the plugin is responsible for actually serving up the content at the time the user tries to paste into another application. This means

[2015-05-09 23:54] benrussell commented on #6
http://linux.die.net/man/1/xclip ?

[2015-05-10 00:21] jason-watkins commented on #6
@benrussell: Possibly a much more elegant solution to both functions, but `xclip` doesn't appear to be installed on my Linux dev machine.

[2015-05-10 01:47] benrussell commented on #6
Well for my work I plan to depend on xclip and use some kind of graceful fallback.

As far as linux work arounds go asking people to install xclip is pretty trivial.

The current state of affairs is (and has been for quite some time) a horrible mess of weird broken ABI's and version numbers.

Ubuntu 15.04 has just started to gain uptake and we're seeing the same boring problems all over again.
(So

[2015-05-18 09:08] sparker256 opened #7 "Linux memset build issue"
I had to move #include cstring from  datarefs.cpp to datarefs.h to build correctly.

Not sure if this change should bother other platforms.

[2015-05-18 18:50] sparker256 commented on #7
This should have said.
I had to move #include <cstring> from datarefs.cpp to datarefs.h to build correctly.

Not sure if this change should bother other platforms.

[2015-05-18 18:51] sparker256 commented on #7
This should have said.
I had to move #include "<cstring>" from datarefs.cpp to datarefs.h to build correctly.

Not sure if this change should bother other platforms.

[2015-05-20 07:05] leecbaker commented on #7
Fix committed in d0c10b5, thanks for the bug report.

[2015-05-20 07:05] #7 closed

[2015-05-20 07:45] leecbaker commented on #6
Added in 359fa17. I don't have the means to test this, but it compiled fine once I installed the libx11-dev package. Feel free to reopen this issue or create another if there is more work that you linux guys want to do on copy/paste support.

[2015-05-20 07:45] #6 closed

[2015-05-20 20:12] sparker256 opened #8 "Minimum Boost version"
Current
find_package(Boost 1.55.0 REQUIRED COMPONENTS filesystem system iostreams)

Should be
find_package(Boost 1.54.0 REQUIRED COMPONENTS filesystem system iostreams)

[2015-05-23 02:54] sparker256 opened #9 "viewer_window title number of datarefs does not update with new plane"
If you change to a new plane the number of datarefs displayed in the title does not increase until you do a search or close then open the viewer_window.

[2015-05-31 07:09] leecbaker commented on #9
Fixed in 34a0eb2

[2015-05-31 07:09] #9 closed

[2015-05-31 07:15] leecbaker commented on #8
Done.

[2015-05-31 07:15] #8 closed

[2015-05-31 13:11] sparker256 opened #10 "in clipboard_linux.cpp using xclip copy should not create a newline"
I have commited a change in my branch from echo to echo -n which will fix this issue.

[2015-06-13 07:35] leecbaker commented on #10
Man, I wish I had seen this before the release last night. Just added the -n in 4493b25.

[2015-06-13 07:35] #10 closed

[2015-06-13 07:38] leecbaker opened #11 "Add ability to launch dataref view window with a command"
Like the title says.

[2015-06-13 09:01] sparker256 commented on #10
Lee Is there some reason you have not pulled my save preferences to disk? I have been using it for over a month with no issue and I keep re-syncing to your changes but it is never pulled.

[2015-06-14 07:44] leecbaker commented on #10
Hi Bill,
Sorry about just letting this PR sit- I really should have mentioned some of this earlier:
* There's code in there for linux clipboard stuff, for storing window position and that changes the log. It's best if these can be in multiple pull requests.
* Some of the lines aren't consistent with the indentation of the rest of the file, mixing tabs and spaces (example https://github.com/leecbak

[2015-06-14 09:18] sparker256 commented on #10
Hi Lee,

Not harsh at all just the feedback I was waiting for.

On the one pull request I was just trying to keep my code in line with your changes and github said "This pull request can be automatically merged by project collaborators" so thought I was doing the right thing.

On the changes to the log what I was trying to do is always know that if DRT put something there we know that and would no

[2015-06-18 06:13] leecbaker commented on #11
Just realized the feature is already in place.

[2015-06-18 06:13] #11 closed

[2015-08-09 11:49] sparker256 opened #15 "Error Code = 126"
Need to add this to the releases page.

if you see this in your Log.txt file

Resources/plugins/DaraRefTool/win.xpl : Error Code = 126 : The specified module could not be found.

Make sure you have installed Visual Studio 2013 Visual C++ Redistributable Package

Found at https://www.microsof...s.aspx?id=40784

[2015-08-26 23:34] leecbaker commented on #15
Good call, will add that to the README.

[2015-08-27 01:00] leecbaker commented on #15
I've added this to the bottom of the release notes, as it's right above the download link for binaries. I think this will give people the best chance of seeing it before downloading the plugin.

[2015-08-27 01:00] #15 closed

[2015-09-01 14:12] leecbaker opened #16 "Arrays display incorrect values when elements other than the first one change"
Array support is incomplete in DRT, and may show wrong values. For example, in sim/cockpit/g430/g430_nav_com_sel, the values displayed in DRT aren't updated when the second element (i.e., array[1]) changes. This means the displayed value is incorrect.

DRE shows the correct values in this case.

Thanks to Russ for reporting this problem.

[2015-09-17 10:28] TronicLabs opened #17 "Windows Build not happy."
I could not create a working version in windows - visual studio 2013.

Boost library version taken from here:
hxxp://sourceforge.net/projects/boost/files/boost-binaries/1.58.0/boost_1_58_0-msvc-12.0-64.exe/download.

The first error that gives me vs2013 is relative to this line:
https://github.com/leecbaker/datareftool/blob/master/src/find_datarefs_in_files.cpp#L141
does not return a correct conve

[2015-09-17 18:15] leecbaker commented on #17
Sorry, I don't have a Windows machine with me at the moment. Perhaps another user can help?

What's the runtime error?

[2015-10-09 10:26] durian commented on #16
Has this been solved yet?

[2015-10-09 18:50] leecbaker commented on #16
I had a brief look at it and couldn't figure it out. It will be a couple weeks until I have time to dig into it.

Feel free to take a swing at it.

[2015-10-13 05:06] leecbaker commented on #17
Sparker provided a build log here- it will be a few days before I have time to look at it.

http://forums.x-plane.org/index.php?showtopic=82960&p=954581

[2015-10-13 05:52] leecbaker commented on #17
I've got a windows build working on Appveyor using VS 2015 after fixing a few bugs. You might be able to compare your results against the build log.

https://ci.appveyor.com/project/leecbaker/datareftool

@TronicLabs Let me know if you get it working- I'll close this issue if I haven't heard back in a week or two.

[2015-10-13 20:27] TronicLabs commented on #17
thanks I'll try and let you know

[2015-10-26 23:19] leecbaker commented on #17
Closing, since we haven't heard back.

[2015-10-27 14:42] TronicLabs commented on #17
I'm sorry if I answer only now, but I've been very busy.
I'm testing this with MSVC 2013 - Windows 10, I had to change the constexpr https://github.com/leecbaker/datareftool/blob/master/src/datarefs.cpp#L29-L30 to normal const, MSVC 2013 does not support it, now it compiles without errors, but remains a strange problem, it only works if there are no other active plugins, at least here with my conf

[2015-10-31 23:10] leecbaker commented on #16
Fixed in 058dfe9c3d84d44b939263438cfd091e24dd3421 , along with improved tracking of changes. As far as I know, there are no further bugs with arrays (other than that they continue to be read only).

[2015-10-31 23:10] #16 closed

[2015-11-01 00:20] leecbaker commented on #17
@TronicLabs Can you see if it works now?

Also, can you open a separate bug for the Extplane problem?

[2015-11-01 12:15] sparker256 commented on #17
Builds fine using VS2013 and also gets along with other plugins in X-Plane 10.41r3. It does not like to stop because it will crash X-Plane on shutdown. It works fine on my Ubuntu 14.04 LTS build. Tried to attach Log.txt file but I do not have permission,

--=={This application has crashed because of the plugin: DataRef Tool}==--

Bill

[2015-11-01 17:21] TronicLabs commented on #17
New build...
without ExtPlane...
when xplane is closed it crash and in the Log.txt:
--=={This application has crashed because of the plugin: DataRef Tool}==--

with ExtPlane, now the windows is showed, but still crash xplane.

[2015-11-01 17:22] leecbaker commented on #17
@sparker256 @TronicLabs I don't have a windows machine, but is there any chance you can get a backtrace?

[2015-11-01 21:02] TronicLabs commented on #17
your implementation of datareftool.json preference not have an right path on windows?
It generate some error when close xplane.

sim/flightmodel/engine/POINT_max_TRQ = is an infinite big number?

trying to debug:
First-chance exception at 0x00007FFE8B31A1C8 in X-Plane.exe: Microsoft C++ exception: boost::exception_detail::clone_impl<boost::exception_detail::error_info_injector<std::ios_base::failu

[2015-11-02 00:26] leecbaker commented on #17
I think I found the problem- I left in some debug code that tried to write to /tmp/windows.txt, and then caused an exception to be thrown which wasn't caught. I've remedied both of those problems. Can you see what you get now?

[2015-11-02 02:45] sparker256 commented on #17
Built on all three platforms and did not see any issues in X-Plane running or shutting down. Might be a good time for another release if no other issues show up.

[2015-11-02 12:51] TronicLabs commented on #17
It seems to cause an error in the heap memory.

BUILD OUTPUT:
1>------ Build started: Project: ZERO_CHECK, Configuration: Debug x64 ------
1>  Checking Build System
1>  CMake does not need to re-run because E:/XPLANE_DEV/Github/datareftool/build/CMakeFiles/generate.stamp is up-to-date.
1>  CMake does not need to re-run because E:/XPLANE_DEV/Github/datareftool/build/src/CMakeFiles/generate.stamp is

[2015-11-02 20:16] leecbaker commented on #17
@TronicLabs thanks for the update. I think I might have fixed it, but it's hard to tell.

I *think* the bug was actually the assertion mentioned at the bottom- use of std::isalnum(). The way I used it could cause invalid input to the function on systems where **char** is signed. This would explain why it didn't present itself on Mac or Linux.

Did you have another reason you suspect memory corrupt

[2015-11-05 12:58] TronicLabs commented on #17
I also think so.
maybe you could use a boost regex for the binary parse?

[2016-01-08 18:59] leecbaker commented on #17
@TronicLabs Interesting idea, but I'm concerned about the performance implications of that.

Did this fix your bug? https://github.com/leecbaker/datareftool/commit/9f2dafa1401731bc33d81b8390074f89c9eec982

[2016-02-26 19:42] leecbaker commented on #17
Closing this task, since I've got a working build now and haven't heard back from the reporter in a while. @TronicLabs feel free to reopen this if necessary.

[2016-02-26 19:42] #17 closed

[2017-01-15 10:11] sparker256 opened #19 "Missing searching for LUA scripts for xlua in XP11"
We are not searching for the LUA scripts that xlua can create in aircraft directory. Here is a diff file of what is working for me on my local build.

Bill

[xlua.diff.zip](https://github.com/leecbaker/datareftool/files/706515/xlua.diff.zip)

[2017-01-15 18:30] leecbaker commented on #19
Thanks Bill, I'll have a look.

[2017-01-16 23:46] leecbaker commented on #19
This should be solved in a commit yesterday, and released in binaries today.

[2017-01-16 23:46] #19 closed

[2017-02-02 00:24] sparker256 opened #20 "Some aircraft use brackets in datarefs and we are not looking for them"
We are not looking for brackets in many aircraft files and missing many datarefs. I have a patch to add support for brackets.
[sparker256_brackets_patch.diff.zip](https://github.com/leecbaker/datareftool/files/746525/sparker256_brackets_patch.diff.zip)

[2017-03-08 17:54] leecbaker commented on #20
Hi Bill, thanks so much for the patch, and sorry for taking so long to review this.

It kind of surprises me that people would use brackets in data ref names, since data refs + brackets usually mean access into an array dataref. Is there an example of an aircraft that does this? Is this a common issue?

Second question, does this create a problem for array data refs that we detect from, e.g. OBJ f

[2017-03-08 21:59] sparker256 commented on #20
Hi Lee,

I have found at least two aircraft but there may be more. The Thranda Kodiak and the Dreamfoil EaMB-110 both use brackets in there datarefs.

I have not seen any bad side effect of my change with array datarefs.

If it would help I can provide some screen shots of DataRefTool showing bracket datarefs and array datarefs if that would help.

[2017-03-08 23:31] leecbaker commented on #20
I'll go ahead and put a change in to work with those aircraft; at this point, I'm just a bit surprised that somebody would name their datarefs like that when it so obviously conflicts with the syntax for array datarefs.

Just curious, what do the names look like for the bracket datarefs you've found?

[2017-03-09 21:43] sparker256 commented on #20
Here is a couple of examples.
![datareftool_thranda_dreamfoil_emb110_brackets](https://cloud.githubusercontent.com/assets/1274225/23772029/7a421586-04e7-11e7-93ad-eb61d8f1059d.jpg)
![datareftool_thranda_quest_kodiak_brackets](https://cloud.githubusercontent.com/assets/1274225/23772038/7f507c52-04e7-11e7-9134-f7a722cc416d.jpg)

[2017-08-01 20:03] EinPinsel opened #21 "Would it be possible to export the shown Datarefs?"
Hi,
we're currently trying to create a Smart-Co-Pilot-Config for a plane and there are over 9000 Buttons to configure. Would it be possible to dump all of the current datarefs into a file or the clipboard? Or maybe only the shown (and therefore filtered) datarefs?

Thanks in advance :)

[2017-08-02 18:39] sparker256 commented on #21
Look in Output/preferences/drt_last_run_datarefs.txt
Bill

[2017-08-02 19:19] EinPinsel commented on #21
Oh. Ooh! Thanks.

[2017-08-02 19:19] #21 closed

[2017-11-03 11:05] jockeyboy opened #22 "drt_last_run_commandrefs.txt not created"
As per release notes :

Release on June 14, 2017
@leecbaker leecbaker released this on 14 Jun

Features:
All known commands and datarefs are listed in Output/preferences/drt_last_run_datarefs.txt and drt_last_run_commandrefs.txt

it does not create drt_last_run_commandrefs.txt
drt_last_run_datarefs.txt  works fine
This is a really useful function for users of spad.next and increases the productivi

[2017-11-04 07:03] leecbaker commented on #22
I just had a look, and this does occur on the latest release. Might be a couple of days before I can get to it.

Just curious, how are you using this list? Did you know you can copy and paste dataref / commandref names out of DRT?

[2017-11-04 07:53] jockeyboy commented on #22
I use Spad.next to control Saitek Panels it only has access to the Default Xplane datarefs & Commands , unless you add a commands.txt and a datarefs.txt  file into the Aircraft directory , Spad.next will read this and give you access to edit those values or send those Commands.
With your Last_run  files I can quickly add custom datarefs & commands to Spad.next   rather than copy from the DRT itsel

[2017-11-07 10:05] leecbaker commented on #22
This should be fixed in the release I just made: https://github.com/leecbaker/datareftool/releases/tag/2017.11.07

Let me know if it isn't.

[2017-11-07 11:12] jockeyboy commented on #22
Works A TREAT!!   Thank you !

[2017-11-07 11:12] #22 closed

[2017-11-07 12:32] leecbaker commented on #22
Perfect.

[2017-12-23 10:15] ddezulier opened #23 "Plugin crashes XP 11.11r2"
Hello
Since xp 11.10 Datareftool leads to crash on loading xplane.
i installed xp 11.11r2
but didn't succeed
[Log.txt](https://github.com/leecbaker/datareftool/files/1584025/Log.txt)
Best regards
Daniel

[2018-01-22 07:23] leecbaker commented on #23
Hi Daniel,

Can you try removing other plugins that you are using at the same time?

The biggest cause of crashes with DRT is bugs in other plugins. When we read a dataref that another plugin provides, and there's a bug in the plugin, it may cause a crash that is attributed to DRT.

-Lee

[2018-03-12 23:02] Delufae opened #24 "XP11 Default B747-400 Dataref: sim/cockpit(2)/electrical/generator_on[0] not set"
Hi there,

I am not sure, if I am right here, but I have noticed, that the mentioned Datarefs (sim/cockpit(2)/electrical/generator_on[0]) dose not change, while the other 3 ([1]-[3]) are set correct when i push the switches (GEN CONT) in the default B747-400 in XP11. can someone explaint how to fix this or is this a bug in the game itself?

Thank you,
Delufae

[2018-04-14 00:49] jbliesener commented on #23
Same problem here. All other plugins removed, still crashed.

Problem turned out to be the files in output\preferences. Deleted them and it started up fine.

For your reference, here's the stack trace when DRT crashed:
[code]

[2018-04-14 00:56] jbliesener commented on #23
OK, I'm able to reproduce the crash: if, for some reason, output\preferences\datareftool.json is EMPTY (0 bytes), DRT crashes. Every time.

Deleting the empty file brings things back to life.

However, it would be nice if DRT would survive the situation and just create a new file...

[2018-04-14 01:05] leecbaker commented on #23
@jbliesener That's definitely a problem. I'll see if I can get this fixed today.

[2018-04-14 01:15] leecbaker commented on #23
@jbliesener This problem is fixed in 53d24fecf264a0c79861922fcc6120c07e14082b, and I'll make another release in a couple of hours. Thanks for tracking this down!

[2018-04-14 08:09] leecbaker commented on #24
I'd recommend posting this in the X-Plane.org forum, as it's not specifically about DRT; however, I expect this is either a bug or limitation of the 747 in X-Plane, and if you take a look at the Lua scripts taht run the plane, you might find your answer. I'd start by looking at the file `X-Plane 11/Aircraft/Laminar Research/Boeing B747-400/plugins/xlua/scripts/B747.03.electrical/B747.03.electrical

[2018-04-14 08:09] #24 closed

[2018-04-14 10:33] jbliesener commented on #23
Thank you, Lee! Just saw the release.

[2018-04-25 07:45] #23 closed

[2018-05-01 12:31] Forsaken-Player opened #25 "DRT deleting changed dataref"
Before I've updated I used to make a dataref change (with cockpit) and then change the filter to changed recently and dataref would stay there forever. NOW, after it's completely with it disappears... Is this a normal behavior now?

PS: Thank you for this great TOOL!! and sorry for my bad English. :D

[2018-05-01 18:09] hansw1204 commented on #25
I have exactly the same experience with the last few updates (since about last June). I’m on a Mac, btw.

[2018-05-21 09:28] ddezulier opened #26 "DRT looks in groundtraffic plugin directory and don't find something"
DRT: Error reading modification date. Msg: boost::filesystem::last_write_time: Le chemin d’accès spécifié est introuvable: "E:/X-Plane 11\Custom Scenery\plugins\GroundTraffic\64\win.xpl" file:E:/X-Plane 11\Custom Scenery\plugins\GroundTraffic\64\win.xpl

french : Le chemin d’accès spécifié est introuvable :
english :The specified path was not found

The file exists but its path is "E:\X-Plane 11\C

[2018-05-21 20:07] leecbaker commented on #23
@ddezulier Do you have a log file or something? What is the exact error message that you are seeing?

[2018-05-23 10:54] DrGluck opened #27 "Gray rectangle at the top of the display"
X-Plane 11.21r2
DataRefTool_2018_05_04

The rectangle disappears when I disable the plugin

![tu-204-100b_1](https://user-images.githubusercontent.com/4846443/40420339-d34ec6e8-5e90-11e8-8f15-32a15fb34311.png)

[2018-05-27 10:58] DrGluck commented on #27
Correction: this is the second copy of the plugin window that is outside the screen. This window is open immediately after loading the aircraft.

[2018-06-04 12:47] leecbaker commented on #27
This appears to be a DRT window that didn't resize correctly. Try dragging a window border, and it will start rendering correctly.

I am planning on fixing this, I just don't have time this week.

[2018-06-04 12:48] leecbaker commented on #26
Interesting, I'll have a look into this.

[2018-06-04 12:59] leecbaker commented on #25
This was an intentional change; now I get the idea it was a bad idea. I'll fix this.

[2018-06-04 13:08] leecbaker opened #28 "Add negative search terms"
You should be able to use search terms to *exclude* results by putting a minus in front of the search term.

For example, searching for `nav1` yields about 80 datarefs and commands. If you wanted to show everything *except* for the commands / datarefs with both nav1 and GPS, you could search for `nav1 -gps` and see all results for `nav1` except for the ones that contain `gps`.

[2018-06-04 13:15] leecbaker opened #29 "Toggling case sensitivity doesn't update the search results"
Like it says in the title.

[2018-06-04 13:38] leecbaker commented on #26
@ddezulier Just to be clear, this only affects one DRT feature- automatically reloading plugins when they are updated and the sim is running. I can't reproduce this on my Mac, so I'll have a look into it another day when I am on my Windows machine.

[2018-06-04 17:51] leecbaker commented on #28
Added in 2fbd69976916cc69a9a3a9480e6a80f48595dc0b

[2018-06-04 17:52] leecbaker commented on #27
Windows can no longer overlap the top of the screen. They are automatically moved down if they do. e205d0d428e4eab075d2ce6c77a22ee3a9a33eeb

[2018-06-04 17:53] leecbaker commented on #27
Windows also can now be closed by pressing command-w or control-W. These changes will be released soon...

[2018-06-04 17:53] #27 closed

[2018-06-04 17:53] #28 closed

[2018-06-04 17:54] leecbaker commented on #25
The change is reverted in d85973e6578519ce28b4e339bce5b88452eed2c2. Will be released soon.

[2018-06-04 19:27] Forsaken-Player commented on #25
Wow. Super! It's way faster to pin point dataref

[2018-06-20 06:12] Clamb94 opened #30 "X-Plane crashes"
Hi,
I'm expreriencing a really strange issue.
Sometimes, X-Plane will crash and I won't be able to launch X-Plane anymore. The log.txt shows the following:
`--=={This application has crashed because of the plugin: DataRefTool_2018_06_06/win.xpl}==--`
Propalby not really helpful, I know. Is there any other kind of crashlog available?

After removing DataRefTool from the plugins, X-Plane works just

[2018-07-01 10:03] leecbaker commented on #30
@Clamb94 Sorry to hear that it's crashing. I really have no idea what's causing this. Unfortunately I can't determine much from the crash log.

Some crashes may be caused by bugs in DRT (sorry!). Some crashes can be caused by other plugins, and they still show up in the log as attributed to DRT. Here's how that usually looks:

- As part of running the plugin system, X-Plane calls the DRT plugin (t

[2018-07-01 10:04] leecbaker commented on #30
Now that I re-read your bug report- since there is no crash when using an older release of DRT, it sounds like this is just a bug in the newer version of DRT. I wonder what it is?

[2018-07-04 17:58] leecbaker commented on #30
@Clamb94 That's good to hear. I'm going to close this bug report, but if you have the same problem again, feel free to re-open it.

[2018-07-04 17:58] #30 closed

[2018-07-04 18:06] leecbaker commented on #25
This fix was recently released [here](https://github.com/leecbaker/datareftool/releases/tag/2018.06.06), so I'm going to close this issue.

[2018-07-04 18:06] #25 closed

[2018-07-14 16:49] temoi opened #31 "Dialog not visible"
DataRef tool does not display dialog if x-plane running in monitor 2, etc. It will always paint dialog on the main monitor. Thanks for sharing the code

[2018-07-20 21:06] slgoldberg opened #32 "(FR) Make title bar name editable."
This is the best tool for X-Plane development; I've used it extensively in building my free plugin I'm about to release and make open-source.  I have saved countless hours thanks to DataRefTool. Thank you.

The biggest productivity feature already there is that DRT auto-saves the open windows between runs and restores them upon startup.  This is so great, I can't even tell you how much I love it!

[2018-08-14 19:15] KarlLeclerc opened #33 "Plugin incompatible with Bell 407 Plugin"
Hi Lee,

The plugin is incompatible with the Dreamfoil Creations Bell 407 plugin.  It is the only aircraft in my hangar that Dataref Tool does not work with. I have used it to develop checklists for most helicopters without problem. However, when using it with the Bell 407, upon requesting to show datarefs or commands, it crashes to desktop. Clicking on About DRT does display the github address li

[2018-08-23 23:27] Forsaken-Player opened #34 "Reloading Plugins with Datareftool do crash my sim"
Hi,
As the title says. If I hit reload plugin once, it pops up a windows telling me that I should move the new plugin to the resources/plugin and everything works ok. Now if I do it once more (at the second time) x-plane.exe process gets unresponsive.
![datareftoolissue1](https://user-images.githubusercontent.com/13246441/44557006-e51e0580-a712-11e8-91c9-21c283250b8a.JPG)

[2018-09-14 08:06] leecbaker commented on #34
Hi @Forsaken-Player, there can be tons of causes of this. Many plugins don't work correctly with the reload plugin functionality for one reason or another, and that's not something I can fix.

Closing as not fixable.

[2018-09-14 08:06] #34 closed

[2018-09-14 08:07] leecbaker commented on #34
One more thing- can you check your Log.txt? It might have more information on if a plugin is causing the crash.

[2018-09-14 08:14] leecbaker commented on #32
Hi @slgoldberg,

Fantastic idea. There's no code in there to change the window title right now, but it should be relatively straightforward for me to put search queries in the title. I'll do that.

Custom titles would be quite a bit more work- I'm going to keep that idea in the back of my mind for the future.

For a local build environment, I recommend using CMake-gui.exe to generate a Visual Stud

[2018-09-14 08:26] leecbaker commented on #31
@temoi Thanks for the report. That's interesting- I wonder if this is just a bug in X-Plane?

I'm leaving this task open until I can test this on a second monitor.

[2018-09-14 08:32] leecbaker commented on #33
Hi @KarlLeclerc,

I suspect that what's going on here is that the Bell 407 plugin provides a dataref that crashes when it is read sometimes. This is somewhat common, and it's up to the plugin author to fix their plugin.

DRT has two different tools for working around this. If you can figure out which dataref it is, you can put it in a file called Resources/plugins/drt_blacklist.txt, and DRT will n

[2018-09-14 20:36] KarlLeclerc commented on #33
Thanks Lee. Looking forward to your next release.

Karl

[2018-09-19 18:43] leecbaker commented on #32
This has been released.

[2018-09-19 18:43] #32 closed

[2018-09-19 19:32] slgoldberg commented on #32
Awesome, Lee! Thank you so much for taking this suggestion!

I am sorry for delay, and hopefully this comment won't reopen this, but I just wanted you to know for some reason I only saw this thread today (my Gmail filters must be defined poorly, since only the last notification message made it into my inbox).

This is really great, thank you again. I'll test it out and let you know if I see any pr

[2018-09-19 19:37] slgoldberg commented on #32
Tested released version (2018_09_19) and it works perfectly! Thanks again.

[2018-10-01 14:57] Clamb94 opened #35 "Rescan Commands"
I'm generating some custom commands using FlyWithLua, but they are not visible in the Datareftool.
Would be great if we could rescan for commands, just like rescaning for Datarefs

[2018-10-09 11:16] SimInnovations opened #36 "Lots of datareftools stacking on top of each other"
Since the latest version a lot of datareftool windows stack on top of each other. Each time I open a new one, the next X-Plane session starts, there's a new one on top. Disabling the datareftool removes then, but enabling it brings them back. Screenshot: https://www.dropbox.com/s/f9tqwptr59kwk2h/datareftoolstack.jpg?dl=0
If I remove the plugin and replace it with a new one, they're still there.

[2018-10-18 14:16] sparker256 commented on #35
If we looked in "Resources/plugins/FlyWithLua/Scripts" for datarefs and commands found in the *.lua files that should help resolve this issue.

[2018-10-23 15:50] leecbaker commented on #36
Interesting. I haven't seen this myself- I'll take a closer look soon.

[2018-10-23 16:10] leecbaker commented on #35
The rescan for datarefs menu item should actually rescan for datarefs and commands both.

I'll add that path to be scanned.

[2018-10-23 17:18] leecbaker commented on #35
Added this functionality in 9eb5fb7c9b2caf0f715d8c1ce840cc1c1be0c906

I'll leave this issue open until somebody can confirm that it actually works.

[2018-10-23 18:40] sparker256 commented on #35
Did a local build on Linux and is working correctly for both datarefs and commands.

[2018-11-02 09:32] leecbaker commented on #31
I've had reports from another user with 3 monitors about the search windows appearing so far off screen that they were not visible. Sounds like this needs to be addressed soon, so expect a change in the next release of PlaneCommand.

[2018-11-17 12:51] sparker256 opened #37 "With the latest commit if you make the view window to small on Linux you get CTD."
When testing the new FlyWithLua search I found that if I make the view window small enough that no test was displayed I will get a CTD.

Also in looking at the Log.txt file there seems to be a small formatting issue where some of the "Found XX" is not prefaced with "DataRefTool: "

[DataRefTool_GDB_TerminalDump_WindowToSmall.txt](https://github.com/leecbaker/datareftool/files/2591799/DataRefTool_G

[2018-11-18 09:11] leecbaker commented on #37
Thanks Bill, I expect to fix this today.

[2018-11-18 13:34] leecbaker commented on #37
This fix is included in the current release. This bug in particular is fixed with 02504951cd97b810d877b96bf3460cd3407ae6c2

[2018-11-18 13:34] #37 closed

[2018-11-18 13:35] leecbaker commented on #35
Closing this issue, as a release has been made

[2018-11-18 13:35] #35 closed

[2019-01-12 13:52] Danita opened #38 "[Feature request] Option to make the font bigger"
It would be nice to have an option for font size, sometimes is difficult to hit the targets with the mouse cursor and it would help improve readability too. Thanks again for this wonderful tool!

[2019-02-08 15:46] HellGL opened #39 "Some datarefs are not writable"
Sometimes I encounter datarefs which are supposed to be writable (according to DataRefs.txt) but I can only delete an old value but not enter a new one. Example:
`sim/joystick/joystick_axis_assignments	int[500]	y	enums	Assignments for the joystick axes - what does X-Plane think each one is? [Was 15 before 850][Was 24 before 860][was 32 before 900]`
In DataRef Editor I can change the value and DRT

[2019-03-07 22:03] knro opened #40 "Cannot link on Ubuntu"
Tried to build the plugin on Ubuntu 18.04 64bit but got this:

[code]

Checked src/CMakeLists.txt and it already set target properties to use -fPIC.

Using gcc v7.3.0 and libboost:
[code]

[2019-03-08 14:37] sparker256 commented on #40
I just built the current Github version using Ubuntu 16.04LTS

At the end of the /usr/bin/ld: /usr/lib/gcc/ line it says

can not be used when making a shared object; recompile with -fPIC

So looks like boost needs to built with -fPIC

[2019-03-08 16:15] leecbaker commented on #40
LIke @sparker256, you should be able to recompile boost with -fPIC and everything should work.

[2019-03-08 16:15] #40 closed

[2019-03-08 16:24] leecbaker commented on #39
I totally see what you're talking about here- let me see what I can do.

[2019-03-08 16:29] leecbaker commented on #39
I'm pretty sure this has something to do with array datarefs that have many items. I *think* what is happening is that the edit text box has so much text in it, that X-Plane has decided to not let you enter an more text until some is deleted.

So, for now, it looks like you can't edit these long datarefs.

[2019-03-13 22:19] ivq001 commented on #31
Lee, just a note that this issue still exists, have the same problem as I have Xplane on my secondary monitor, DRT loads its windows on my primary monitor, which has no Xplane thus I cannot see them.

[2019-03-14 13:43] leecbaker commented on #31
Hi @ivq001, thanks for confirming this. Unfortunately I have not had time to fix the issue- will try to prioritize this fix in the next week or so.

[2019-03-14 16:08] ivq001 commented on #31
Sounds good! As a note, in my example, having 2 monitors and a full-screen Xplane being on the secondary, not primary, my X/Y coordinates would look like -1280/720 for centre of my 2560x1440 monitor. Note the negative sign, that is how Xplane defines the coordinates for secondary. I know it does different things for primary, for windowed versus full-screen, etc, looks rather complex to me when rea

[2019-04-09 08:49] iohr474 opened #41 "Can't use formulas when adding custom datarefs to DRT"
I have several custom datarefs I want to view on DRT. I don't have any problem when I run this code on Windows, but when I chage to Linux OS, everything changes.

If I send the message this way, it works in both OS:

But, if I do it this way, it doesn't on Linux OS, but it does on Windows:
std::string pruebaId1 =

Or if I want to add several custom datarefs I have stored in a vector, using a for l

[2019-04-09 13:21] iohr474 commented on #41
Sorry, my bad, my X-Plane Linux version was too old or damaged. Reinstalled it and everything went fine.

[2019-04-09 13:21] #41 closed

[2019-05-06 02:26] leecbaker commented on #38
Hi @Danita, unfortunately, X-Plane's text rendering APIs only support one font size. It's really too bad- I hope they add more flexibility in the future.

[2019-05-06 02:26] #38 closed

[2019-05-06 02:27] Danita commented on #38
Thanks!

[2019-05-31 12:48] Danita opened #42 "Window changes position after reloading X-Plane"
I have set up X-Plane in windowed mode. It always opens in a smallish window which once has finished loading I maximize. With this setup:

1. Open a DRT window and place it on the center of the screen.
2. Close X-Plane
3. Open X-Plane and maximize it again.

The DRT window doesn't remember its position and appears overlapping X-Plane's menu bar area and you have to click the window border in order

[2019-06-08 23:56] leecbaker commented on #42
I'll have a look at this.

For a while, I've planned to move to the new XPLM version 3 window APIs, which solve some of the problems with windows and the border of the screen. In the meantime, I'll try to improve how the windows interact with the window borders.

[2019-06-18 01:19] chbacheng opened #43 "Please release a new version!"
It would be nice to release one version after each change!

[2019-07-16 19:24] slgoldberg opened #44 "(FR) Add setting for default window size, position"
(Feature request): Add a setting for default window size and position.

This would be really useful for me when I'm using a smaller monitor, or my laptop without a separate screen, to run X-Plane.

In that scenario (i.e., lower total boxel area for screen), the default size and position of new windows is pretty terrible in DRT today.  Until I make it smaller myself, each new window starts out by e

[2019-07-17 22:01] leecbaker commented on #44
Hi Steve,

Lots to think about here. I have very limited time to spend on DRT, but I would love to improve the window management situation.

You've described lots of great ideas here- let me think about it for a few days and I'll see what I can do.

-Lee

[2019-07-17 22:06] leecbaker commented on #43
Hi @chbacheng,

I usually try to batch several feature changes together into one release, as it reduces the number of times I need to test DRT.

That said, I'm trying to automate the release process more, so there should be more releases in the future.

-Lee

[2019-07-17 22:06] #43 closed

[2019-07-17 22:06] #39 closed

[2019-07-17 22:06] leecbaker commented on #39
Closing the issue, as there's simply not a good fix available for now.

[2019-07-18 08:54] slgoldberg commented on #44
Sounds good, thanks for the response.

I really wanted to just send you a pull request :-) but I'm in the middle of getting my own next release out for ABC, in collaboration with TwinFan on LiveTraffic.. (it's looking great, but I'm not quite at a point to take on another project).

 I do also think if you think about it, it'll be relatively straightforward vs. if I try to do it it will probably b

[2019-07-19 05:46] leecbaker commented on #44
Hi Steve,

One possible (and more complicated) solution here is have window position presets. Add menu options to save or restore the current windows to/from a numbered save slot. I think this will ultimately be the direction I'll go. The save slots can represent user-created profiles, have commands for restoring that set of windows, etc. And of course, there will now have to be a user preference

[2019-07-19 09:25] slgoldberg commented on #44
Well, I do think that would be an interesting feature to look at .. though it sounds like it would not address the use-case I'm setting forth in my feature request.

If I understand your idea -- whereas, today, there is only one "set" or profile of saved windows (i.e., the current set of windows that get restored each session), you'd allow the user to have multiple such sets -- and furthermore, to

[2019-07-22 01:57] leecbaker commented on #44
Steve,

Thanks for all the ideas here. This discussion has me thinking about more and more window-related ideas. I think I'm going to try to do one release of DRT soon, and then work on window management-related features for the next release.

-Lee

[2019-07-23 11:09] jimkeir commented on #33
FYI I had this with one of mine. It using the buffer length correctly but then not checking properly before doing some final null-termination stuff, if the buffer pointer was non-null. So, bug in my code. However, you might be able to reduce crashes if you don't pass a pointer to a zero-byte byte array; if you're trying to get the data size the docs say to pass a null pointer. HTH.

[2019-07-23 21:58] leecbaker commented on #44
@slgoldberg Rather than setting a default window size in the preferences file, is there a programmatic default that would make sense? I think right now, windows are simply 500x400 boxels, in the center of the screen. Perhaps we can scale this by screen size?

Another idea I just had- what if there was a command to toggle whether all DRT windows were hidden? Would that help on small screens? I gues

[2019-07-23 22:47] leecbaker commented on #33
[There's a thread related to this issue over at the X-Plane.org forums](https://forums.x-plane.org/index.php?/forums/topic/185751-looking-for-names-of-custom-datarefs-for-home-cockpit-build/&do=findComment&comment=1706898).

I also just emailed Dreamfoil to see if we can get them to fix the plugin.

@jimkeir Thanks for the suggestion. If I understand correctly, you're saying that we should not rea

[2019-07-24 00:41] slgoldberg commented on #44
Well, I think the issue is that there are three primary use-cases for DRT.  Note, in my examples below, I bind ctrl-n to create a new window in DRT:

(1) Monitoring one or more datarefs that match a query (e.g. monitoring related things matching a pattern, and possibly looking only at changes, etc).
  - For this case, the default window size/location doesn't matter at all.  Because the user will l

[2019-07-24 02:04] slgoldberg commented on #44
Whoops, completely missed your second question:

Yes, that's a great idea.  I would love it -- especially if it meant I could hide all DRT windows before resizing the display to experiment around. I.e., if I resize the display back before unhiding DRT windows, then they in theory wouldn't move.

Which makes me realize: it would be even better if all restored windows start out hidden, and you basic

[2019-07-24 02:06] slgoldberg commented on #44
Or instead of making a new setting to say whether you want DRT window on vs. off at start, how about just making the current state sticky.. I.e., whatever mode the user was last in when they quit X-Plane, they can rely on that state persisting when they return. So, if they had flipped DRT to "off" mode and restarted X-Plane, then DRT would still be in "off" mode 'til they either open a new window

[2019-07-24 05:15] leecbaker commented on #44
That's a great breakdown of the ways that people use DRT. Personally, virtually all of what I do is in category 3.

I'm of the opinion now that everything that can be a command, should be a command. In particular, menus items should always be commands, and there should be datarefs to reflect status of menu items that are checked / unchecked. So we're on the same page here.

For category 2 usage of

[2019-07-24 06:20] slgoldberg commented on #44
First of all, I never meant to imply that DRT might slow down the simulator. It absolutely doesn't. It's insanely fast.  I was just saying it's a comforting thing for some users to think they don't have to worry about it if they're not in developing mode actively, but still have a bunch of saved windows hanging off the edges. They won't slow things down, but users might be happier to think they ar

[2019-08-05 13:27] jimkeir commented on #33
I think it may help you to avoid other people's bugs. It's a minimal change and worth a try, at least.

[2019-08-07 13:31] leecbaker commented on #33
@jimkeir good point.

By any chance do you have the Bell 407? Are you experiencing this crash?

[2019-08-07 16:06] jimkeir commented on #33
No, I don't, sorry. My bugs are entirely home-grown :) I was seeing this crash though and while I've fixed the problem here I can recreate it if it helps you test.

[2019-08-10 13:49] KarlLeclerc commented on #33
I have the Bell 407. I reported having this crash problem with versions 3 to 3.0.3 of Plane Command over a year ago. The problem went away with an update, not exactly sure which one. It could have been updating X-Plane to 11.35, an update of the 407 plugin, or the update to PlaneCommand 3.1.  With the latest versions, it is not crashing anymore. The log.txt files are clean.

As additional feedback

[2019-10-20 13:53] jefken153 opened #46 "where to place datareftool in xplane 11"
I have a question regarding the use of Create Dictionary.
It says that xcheckdisk needs a data tool to download at github.com which I did.
Now my question is where should I put DataRefTool_2018_11_18 somewhere. In which directory

[2019-10-23 00:13] leecbaker commented on #46
To install DRT, put the folder you download inside `X-Plane 11/Resources/plugins`. When done correctly, you should see the DataRefTool submenu in the plugins menu in X-Plane.

[2019-10-23 00:13] #46 closed

[2019-10-30 08:49] leecbaker opened #48 "No text is visible in VR in current master"
When using the current master version of DRT, the window is rendered without text. This looks like it may be a problem with glScissor.

Thanks to @sparker256 for bringing this to my attention.
![image](https://user-images.githubusercontent.com/1047159/67842448-ad042500-fb56-11e9-8362-d84caed98212.png)

[2019-10-30 10:56] leecbaker opened #49 "DRT on Windows requires installation of the Visual Studio runtime"
On Windows, the DRT as of e081bff requires installation of the Visual Studio runtime. You can see the requirements for specific DLLs in the previous build in Github actions; https://github.com/leecbaker/datareftool/runs/281257385#step:8:0 .

We need to link Mincore.lib to get rid of these dependencies.

[2019-10-30 11:00] leecbaker opened #50 "Scan files in a background thread to increase responsiveness of the simulator"
When a new aircraft loads, there is a brief pause while DRT scans files to find new datarefs.

There's no reason to make the simulator wait while we look for new datarefs- the scanning can be done in a background thread. Potentially all scanning of files could be done in a second thread, and updates passed asynchronously to the plugin. This would improve the responsiveness of the simulator in some

[2019-10-30 22:36] leecbaker commented on #48
Work is started in branch https://github.com/leecbaker/datareftool/tree/lee/fix_scissor_coordinates

[2019-10-30 23:55] leecbaker commented on #48
Fixed.

[2019-10-30 23:55] #48 closed

[2019-10-31 10:34] sparker256 opened #52 "About Box Should be Wider"
The url text is wider than the about box.
![AboutBoxWidth](https://user-images.githubusercontent.com/1274225/67939716-88389d80-fba8-11e9-9b2e-bfe69d6471bb.jpg)

[2019-10-31 22:23] leecbaker commented on #52
Good catch.

[2019-10-31 22:26] #52 closed

[2019-10-31 22:26] leecbaker commented on #52
Fixed in 69ee261b6777e1a6cb44153bd00654e3007a7ae5

[2019-11-03 20:53] leecbaker commented on #49
Statically linking to boost and to the CRT has resolved this issue. Implemented in 8bd5b4837839a49230b99f382adaf04faee44987 and 083593f2c1fa84311506b8eefc4e7acbf7dc8ba4

[2019-11-03 20:53] #49 closed

[2019-11-11 20:12] leecbaker opened #53 "Make background opaque when mouse is hovering"
In order to increase readability, the background of the results window could be made opaque at certain times. It might make sense to make the window opaque only when the mouse cursor is over the window.

I have no idea how much work this may be, but it can't be too difficult.

[2019-11-22 03:50] nmeier opened #54 "data datarefs are RO"
It seems that datarefs of type data are modelled ([isData](https://github.com/leecbaker/datareftool/blob/cd2278d14e3a0edd644abd4920ca132626566f61/src/lib/dataref.h#L50)) but one can't edit them even if they're editable through X-Plane, example

sim/aircraft/view/acf_tailnum

Would be good to allow for data values to be edited (string to number array).

[2019-12-03 21:43] leecbaker commented on #54
Sounds good. I skipped this initially because I figured nobody uses this feature. I've decided to implement it now.

[2019-12-03 22:30] leecbaker commented on #54
@nmeier I have implemented this feature. It will be in the next release of DRT.

![image](https://user-images.githubusercontent.com/1047159/70095397-81121d00-1689-11ea-825e-2527e43846a8.png)

[2019-12-03 22:31] #54 closed

[2019-12-03 23:00] leecbaker commented on #29
After more investigation, this only happens when regex is selected, and case sensitivity is toggled.

If case sensitivity is toggled, and regex is already turned on, the regular expression isn't re-compiled- so we keep using the old regular expression, with the old case sensitivity setting.

[2019-12-03 23:00] #29 closed

[2019-12-04 12:35] sparker256 commented on #20
This seems to be fixed so will close it to help clean up the issue list.

[2019-12-04 12:35] #20 closed

[2019-12-04 21:03] leecbaker commented on #20
Glad to hear that is seems to be fixed.

[2019-12-05 01:27] leecbaker commented on #53
After thinking about it a while, perhaps it is enough to make the background of the dataref viewing section dark, and not the entire window.

[2019-12-15 11:59] Mazn1191 opened #55 "Some (Plugin) DataRefs missing"
I'm having the problem with a bunch of DataRefs that I'm seeing in the DRE but not in the DRT.

Those are DataRefs of an addon aircraft (Carenado B200) which uses a long array "com/dkmp/BT3" to control buttons in the cockpit.

Not sure if there's anything that can be done about it, since it might be that the Carenado B200 in this case is communicating the DataRefs directly to the DRE so DRT doesn'

[2019-12-15 16:05] sparker256 commented on #55
Do you have Impersonate DRE enabled?

![Impersonate_DRE](https://user-images.githubusercontent.com/1274225/70865365-b8ef4f00-1f2a-11ea-89db-13813ff672b3.jpg)

[2020-02-07 02:28] cpuwolf commented on #55
Thanks to "Impersonate DRE"

[2020-02-09 21:20] leecbaker commented on #55
Sounds like this issue is solved, so I'm going to close it.

Perhaps in the future, "Impersonate DRE" should be on by default.

[2020-02-09 21:21] #55 closed

[2020-02-23 00:24] leecbaker commented on #50
Implemented in 13deb264e90fd1c8173c064e0f9c0dc038480e43

[2020-02-23 00:24] #50 closed

[2020-02-23 03:02] leecbaker commented on #36
Hi @SimInnovations , can you see if this is still happening with the latest version of DRT?

[2020-02-25 09:05] SimInnovations commented on #36
Will do! Thanks for the notification.

[2020-03-12 08:27] SimInnovations commented on #36
This issue was fixed. Thanks!

[2020-03-12 08:28] SimInnovations commented on #42
I also see this quite often. It's easy to solve by double clicking on the edge of the window, that brings it back in view.

[2020-03-12 08:37] leecbaker commented on #36
Cool.

[2020-03-12 08:37] #36 closed

[2020-03-13 01:27] leecbaker commented on #42
@SimInnovations  which version are you running? Can you test this version, and see if it fixes the problem? I think I've made some significant improvements in this area. https://github.com/leecbaker/datareftool/actions/runs/53371697

[2020-03-14 12:59] SimInnovations commented on #42
I am running the version from 2019-12-04, the latest one published here: https://github.com/leecbaker/datareftool/releases
Is that an older version?

[2020-03-14 13:56] SimInnovations commented on #42
I've just tried the version you posted, the issue is still there.
![image](https://user-images.githubusercontent.com/11886104/76683379-ee780700-6603-11ea-819c-3312de3297ce.png)

[2020-03-15 04:40] leecbaker commented on #42
That is the latest development build, it's from 4 days ago. I wonder why on earth the window is positioned there. Do you have multiple monitors?

[2020-03-17 13:08] SimInnovations commented on #42
No sorry, this was on a all-in-one desktop PC, but it happens at my laptop and work PC as well.

[2020-03-26 07:16] leecbaker commented on #42
@SimInnovations thanks for the information.

[2020-04-07 08:40] airfightergr opened #56 "Toggle DRT verbosity on/off"
As developer, many times I will look in Log.txt file for my debugging, but DatarefTool adds a lot of lines to the file, that makes searching for my lines a bit hard.

An option to turn datareftool's output into Log.txt file on or off will be great.

[2020-04-09 03:29] fpuentegomez opened #57 "total noob"
Hello, total noob here,
I have downloaded the source code, extracted, created build directory and compiled as per the instructions.
Then I copied the folder datareftool (located inside bin) to the XP10/Resources/plugins folder.
Datareftool doesn't show up in the plugins list.
Is there something that I am doing wrong?
Thanks in advance,
Federico

[2020-04-25 08:19] danapple0 opened #58 "Build failed on Ubuntu 18.04"
[code]
[code]
[ ... bunch of good stuff happens ...]
[code]

[2020-05-03 04:00] leecbaker commented on #58
You need to recompile boost with `-fPIC` like the error message says. It's a real pain that you can't use the version in the package manager.

DRT releases are built on 18.04 right now, using [these commands](https://github.com/leecbaker/datareftool/blob/master/.github/workflows/build.yml#L41-L49) on Github actions.

Feel free to open the issue again if you encounter other errors, but I'm fairly c

[2020-05-03 04:00] #58 closed

[2020-05-03 04:05] leecbaker commented on #57
Hi Federico,

1. The current version of DRT doesn't support X-Plane 10 because it uses newer APIs. It may be possible to compile a version for XP10, but I haven't tried myself. You'll need to change some of the [defines in this file](https://github.com/leecbaker/datareftool/blob/5a43f2cd88783f1aa934e05779090a34200180ee/src/CMakeLists.txt#L87) (XPLM301, etc).

2. Make sure your XPL is in the [prope

[2020-05-03 04:06] leecbaker commented on #56
That sounds like a good idea, but unfortunately it isn't very high on my priority list for now.

I'll consider adding a "debug mode" in the future.

[2020-05-03 04:34] leecbaker commented on #57
I've just committed the changes so that you can compile for X-Plane 10. DRT should support X-Plane 10 now IF you make the necessary changes to the CMakeLists.txt described above.

Feel free to re-open this if DRT doesn't compile or function in X-Plane 10 for some reason.

[2020-05-03 04:34] #57 closed

[2020-05-03 04:35] leecbaker opened #59 "New text manipulation shortcuts"
There are a few additional keyboard shortcuts for text editing that could be implemented for DRT.

in complement to be able to use the shortcuts like MAJ + HOME / MAJ + END / MAJ + LEFT/RIGHT ARROW / MAJ + CTRL + LEFT/RIGHT ARROW to select char/word/whole sentence in the search field or in selected dataref

https://forums.x-plane.org/index.php?/forums/topic/82960-datareftool-is-an-improved-dataref

[2020-05-03 08:16] danapple0 commented on #58
I didn't realize that it was a boost-specific recompilation that is required.  I'll give it a shot.  Thanks!

[2020-05-03 14:30] leecbaker commented on #58
On Linux, any library that is statically linked into a dynamic library (like an XPL) must be compiled with -fPIC. It took me a while to figure this out.

[2020-05-24 22:01] minertom opened #60 "Having trouble doing a build on Windows"

[2020-05-24 23:42] #60 closed

[2020-06-07 20:38] maarek opened #61 "Can't enable the DRT"
I am having an issue where the DRT won't enable. It loads up in the sim and loads disabled. When I try to enable it and change pages or close out of the plugin manager, the DRT is still disabled and the menu items are unselectable.

The logs do not mention anything about it being disabled or errored. They are full of the `Found n unique possible datarefs...`.

XPlane 11.41r1
DRT from 3/23

[2020-06-09 02:57] maarek commented on #61
It seems to have resolved itself out of the blue. Close if you think it's unimportant.

[2020-06-11 08:23] marcelobartsch opened #62 "Symbol not found with X-Plane 10.51r2 and 2020_03_23 releae"
dlerror:dlopen(/X-Plane 10/Resources/plugins/DataRefTool_2020_03_23/mac.xpl, 6): Symbol not found: _XPGetWidgetUnderlyingWindow
  Referenced from: /X-Plane 10/Resources/plugins/DataRefTool_2020_03_23/mac.xpl
  Expected in: /X-Plane 10/Resources/plugins/XPWidgets.framework/XPWidgets
 in /X-Plane 10/Resources/plugins/DataRefTool_2020_03_23/mac.xpl

[2020-06-12 08:48] airfightergr opened #63 "New X-Plane Gui style"
It will be awesome if you move DRT to the new GUI, since it can be more readable and can be popped out to a second display.

[2020-07-30 13:09] markcellis opened #64 "Cant't edit an int dataref array of 256"
I have a dataref int array that was originally 50 ints. The dataref tool had no problems allowing me to edit individual elements. I changed the array size to 256 and now the dataref tool will not allow entries in the element. It lets put put the cursor on the element and it will accept the backspace to clear it out but it will not take any number input. It is almost acting like to it ro when the d

[2020-08-11 10:24] DrGluck opened #65 "Hidden window steals some fps"
Hi! It looks like sometimes there are hidden windows that continue to spend FPS. Judging by the settings file, there are two such windows.
I made a quick video of how to reproduce this. Maybe you should add the "do not open windows at startup" option? Or something like this.

[datareftool.zip](https://github.com/leecbaker/datareftool/files/5056337/datareftool.zip)
[2020-08-11_13-09-03.zip](https:/

[2020-08-16 06:09] leecbaker commented on #56
I've gotten some more requests for this- expect some changes in this area in the near future.

[2020-08-17 03:05] leecbaker commented on #61
Did you have DataRefEditor installed as well? If you have DRE installed, and DRT is in "impersonate DRE" mode, that may cause a problem like this.

I'm going to close this issue since you seem to have it resolved. If it reoccurs, feel free to re-open the issue and post or email me your Log.txt.

[2020-08-17 03:05] #61 closed

[2020-08-17 03:07] leecbaker commented on #62
Current versions of DRT only support X-Plane 11.

This should be the final version to support X-Plane 10: https://github.com/leecbaker/datareftool/releases/tag/2018.04.14

[2020-09-18 17:16] namarrgon commented on #65
I don't know if this is due to 'hidden windows', a general bug with the plugin or an xplane bug but DRT eats up about a quarter of the frame-time on my system (in vulkan and in opengl mode) even when it's not interacted with and none of its windows are open, which amounts to ~15fps:

![DRT3](https://user-images.githubusercontent.com/3209906/93625968-09786900-f9e3-11ea-9873-ec902be626ba.png)

![DRT

[2020-10-16 22:42] willschubert1977 opened #66 "Just changed some weather dataref and bang, all weather layers disappear"
Hi guys!

I'm having this issue with one script I created to add turbulence on weather layers, and now tried to do some tests with datareftool, but having same freak issue. I posted this video bellow. The thing is: Any (Weather) dataref I change, suddenly all weather layers is clean!  Anyone have any idea what is going on? (All other datarefs, no problem, I can turn lights on/off, change lights br

[2020-11-22 18:02] leecbaker commented on #66
Hi,

Honestly I don't know much about the weather system. This looks like an issue with X-Plane itself, rather than DRT. I'd suggest asking about it on the [X-plane.org forums](https://forums.x-plane.org/index.php?/forums/forum/23-x-plane-developers-and-plugins/), or if it really looks like a bug, use the [X-Plane bug reporter.](https://dev.x-plane.com/support/bugreport.html)

I'm closing this iss

[2020-11-22 18:02] #66 closed

[2020-11-22 18:14] leecbaker commented on #65
Hi @DrGluck and @namarrgon ,

DRT does take significant CPU time to check the values of datarefs every frame; this is the performance hit that you see. DRT only does this when at least one window is open, so it's totally plausible that the performance loss you're seeing is related to a window being open.

There are some issues where windows in X-Plane get changed to different sizes and moved offsc

[2020-11-22 18:16] leecbaker commented on #63
I'm working on it, and I think a beta version with this capability should be out in the next couple of weeks. Quite a bit has changed in the new UI, and I think it's quite a bit better.

Here's a preview.

<img width="492" alt="image" src="https://user-images.githubusercontent.com/1047159/99911821-80203400-2cbc-11eb-88a9-1e91fd295695.png">

[2020-11-22 18:18] leecbaker commented on #62
Closing, since I think this problem is resolved.

[2020-11-22 18:18] #62 closed

[2020-11-23 07:15] DrGluck commented on #65
As far as I remember, deleting the file solves the problem. So I wrote that the problem is the lost window. I will try to check this later.

[2020-11-23 14:11] DrGluck commented on #65
Confirmed. I deleted datareftool.json and now no fps drops. Obviously the problem is in the hidden window.

[2020-11-23 17:36] leecbaker commented on #65
@DrGluck Thanks for the confirmation- this should be fixed soon.

[2020-12-11 22:17] cpuwolf opened #67 "XP11.50 performance killer"
when datareftool is on, ~10fps will be killed

[2020-12-25 10:24] DrGluck commented on #65
@leecbaker looks like the problem was solved in the last release.
But I seem to have discovered a couple of new bugs. I will research this and create new issues.

[2020-12-25 10:42] DrGluck opened #68 "Dat/Com/D+C button issue after plugins reloading"
How to reproduce:
1. Dataref window state
![Cessna_172SP - 2020-12-25 13 32 39](https://user-images.githubusercontent.com/4846443/103132628-87b96b00-46b6-11eb-8c00-d1cb5e892da4.png)
2. Reload the plugins. ( BTW, there is another bug: shortcuts are not working )
3. Looks like Dat/Com/D+C button is in a wrong state:
![Cessna_172SP - 2020-12-25 13 33 03](https://user-images.githubusercontent.com/4846

[2020-12-25 10:54] DrGluck opened #69 "Some keyboard shortcuts are not working"
I haven't checked all the options, but the following shortcuts do not work for me:
1. Reload plugins
2. Reload aircrafts
3. Open a new search window

[2020-12-25 17:18] Avacee commented on #69
Same here but I assume it's because the previous release "2020_03_23" created custom commands called **datareftool/command_name** whereas release "2020_12_24" creates custom commands called **leecbaker/datareftool/command_name** or **leecbaker/datareftool/prefs/command_name**
Hence the previous keyboard mappings are no longer valid.
If DRT was meant to create some default key mappings then there a

[2020-12-26 04:39] leecbaker commented on #65
Glad to hear it! I'm going to close this issue since the problem was fixed- please create issues for any problems you encounter.

[2020-12-26 04:39] #65 closed

[2020-12-26 10:47] DrGluck commented on #69
I've tried removing the previous settings. But it still didn't help.

[2021-01-24 13:05] Lorsand opened #70 "Problems with a text type comparison"
Hello! Congratulations on the job, it's fantastic, it has opened my eyes to a new world with this tool.

I wanted to ask you how I can do a text comparison, since I am making a custom xchecklist for the Zibo, and I want to compare two text fields, but I can't find the way. I'm not a computer scientist, just a hobbyist.

These fields are:
laminar / B738 / irs / gps_pos = laminar / B738 / irs / irs_

[2021-01-24 14:54] Gunduran opened #71 "Issue with ZIBO and SimVim when activating APU Bleeds"
Hello,
I'm running the latest X-Plane with ZIBO and have some smaller pieces that I steer using SIMVIM.
I also use XChecklist and FirstOfficer to automate a bit.

Due to these optimizations I found an issue when DataRef is open and I turn on the APU Bleed. It causes a CTD. But it happens also, if I come without FirstOfficer to this point...
In the logfile it looks like that it might be caused from

[2021-01-26 06:09] leecbaker commented on #68
@DrGluck , thanks for this bug report. I knew something weird was happening occasionally with dataref filtering, but it turns out to only happen when DRT finds new datarefs, and a search has already been made. (Reloading the plugin is one of these situations- the search is restored immediately, but datarefs are found after that, as they are scanned in the background.)

I've fixed this in 494602023

[2021-01-26 06:09] #68 closed

[2021-01-26 06:18] leecbaker commented on #71
Hi Gunduran,

From looking at the log file, this seems like an issue with SimVim. I would contact the developer, and see if they can help with this issue.

Because DRT interacts with all installed plugins, it tends to expose bugs in other plugins quite often. I suspect that's what has happened here (though I don't know for sure). I don't use SimVim, nor do I fly the Zibo very often, so I can't rea

[2021-01-26 06:18] #71 closed

[2021-01-26 07:19] leecbaker commented on #69
@Avacee is completely correct. When I rewrote this part of DRT, I inadvertently changed the names of the existing commands. Since people are already using the new version of DRT, I can't really change them back.

At this point, my recommendation is to simply create new keyboard mappings as @Avacee describes.

[2021-01-26 07:19] #69 closed

[2021-01-26 07:21] leecbaker commented on #67
Hi @cpuwolf ,

DRT takes quite a bit of CPU to actually read all the datarefs that it needs to read. This is mostly an unavoidable consequence of how DRT works.

I have written up some tips [on datareftool.com](https://datareftool.com/#faq-datareftool-causes-me-to-loose-fps-why) describing a few things you can try to help performance.

Hope this helps.

[2021-01-26 07:21] #67 closed

[2021-01-26 07:22] leecbaker commented on #63
Hi @airfightergr ,

I've released a new version of DRT using the new GUI style, with popout windows and all the other XP11 features. I hope you enjoy it!

You can download the latest release here:
https://github.com/leecbaker/datareftool/releases/tag/2021.01.25

[2021-01-26 07:22] #63 closed

[2021-01-26 07:28] leecbaker commented on #64
Hi Mark,

I've rewritten the interface for DRT in the past few months, and I think you'll find the process of editing array values greatly improved, especially for bigger arrays. I had no problems editing arrays with mroe than 1000 elements in the new version.

![image](https://user-images.githubusercontent.com/1047159/105813545-9f199b80-5f75-11eb-9e71-c7b3fb0dd207.png)

The latest release can be

[2021-01-26 07:28] #64 closed

[2021-01-26 07:29] leecbaker commented on #53
Since DRT now uses the new UI style for all dialogs, all backgrounds are opaque- this issue is resolved.

[2021-01-26 07:29] #53 closed

[2021-01-26 07:36] leecbaker commented on #42
Hi @Danita and @SimInnovations,

I've recently re-written the UI of DataRefTool to use the XP11 style windows. I *think* this should keep all of your windows on screen, and I expect the issue with windows overlapping the X-Plane menu have been completely resolved. You can download the new version [on this page](https://github.com/leecbaker/datareftool/releases).

If I'm wrong and this issue still

[2021-01-26 07:36] #42 closed

[2021-01-26 18:21] DrGluck commented on #69
I don't know why, but hotkeys still doesn't work.
I removed dataref keys from the "\X-Plane 11\Output\preferences\X-Plane Keys.prf" file. Then I add this line:
"H <NONE> leecbaker/datareftool/reload_aircraft Reload the current aircraft"
But still nothing.

BTW, I tried X-Plane 11.51r1, then X-Plane 11.41r1, then X-Plane 10.51r2 (xp10 version of the plugin)

Can I check something else?

[2021-01-31 13:03] DrGluck opened #72 "Hotkeys don't work on Windows"
Hi, Lee! Sorry to do this again, but i'm pretty sure that hotkeys don't work on Windows. I checked it on two PCs, and my friends checked it too.
The problem is that your plugin call XPLMCreateCommand, but never calls XPLMRegisterCommandHandler. I ckecked this with debugger, look at the picture. I put a breakpoint on XPLMRegisterCommandHandler. Your plugin never calls it.
![Скриншот 2021-01-31 15 4

[2021-02-02 21:13] Danita commented on #42
@leecbaker Thanks for this amazing update. The problem still somewhat persists (the window is partially obscured after x-plane loads) but if I maximize the window again, DRT moves back to the last used position, so it's not as annoying as before :-P

The new design is better as well, but I'd suggest giving the content window a bit of padding (the text is too close to the edges) and left-align the

[2021-02-04 13:33] dpdurst opened #73 "DataRef tool no working with Xplane 11.50r1"
I have installed the dataref tool in the correct folder, I have 3 monitors and run Xplane on Monitor 1 and the windows desktop on monitor 3. The dataref tool shows in the plugin menu and when I access it nothing happens.

[2021-02-05 11:57] rfresh737 opened #74 "No colors are displaying in the tool"
I installed DRT on my Xplane 11 but when I open the window, I don't see any colors as I saw on your main GitHub page. This is not a big deal since I can still use the tool but was just wondering why I don't see any colors?

Thank you...

[2021-02-06 13:01] DrGluck commented on #74
Please note that there are two folders in the archive: for XP11 and separately for XP10
Maybe you accidentally picked up the build for XP10?

[2021-02-06 14:03] rfresh737 commented on #74
I double checked, I installed the XP11 code...

[2021-02-07 12:48] dpdurst commented on #73
Follow-up on this issue. Its actually working and I found the trick. Running XP 11.51r1 with vulcan enabled. Seems when you open up a window from the plugin admin at the top of the screen and you are in full screen mode the window is hidden behind that screen. If you minimize the full window screen from settings then go back to full screen the datareftool then pops out on top and you can use it. I

[2021-02-21 00:57] IBAV8N opened #75 "Will not activate in linux mint 19.2"
The plugin doesn't load in linux mint 19.2.  This is in the log.txt:

dlerror:/media/Data/X-PLANE/Resources/plugins/DataRefTool_XP11_2021_01_25/64/lin.xpl: undefined symbol: _ZTINSt10filesystem7__cxx1116filesystem_errorE

[2021-03-13 13:15] DrGluck commented on #72
Now it's working. Thanks!

[2021-03-13 13:15] #72 closed

[2021-03-13 13:31] DrGluck opened #76 "Hotkeys work several times in one click"
Well, hotkeys does not work. Again. Sorry to bring this bad news )

I assigned a key to "Open a new search window". If I make one click on a button, there is a good chance that multiple windows will open. If I hold down the button for a couple of seconds, a lot of windows open.
It is much worse that this bug is present when reloading plugins. The plugins are reloaded several times in a row.

I che

[2021-03-14 19:29] leecbaker commented on #72
Glad to hear that it's working. @DrGluck If you're wondering why it wasn't working, there are identically named constructor parameters and member variables (like `begin_func`). The constructor moves the values of these variables from the parameters into the member variables, but the way std::move works, once they are moved, the parameters technically have an undefined state, and may be true or fal

[2021-03-14 19:31] leecbaker commented on #76
Hi again,

This should be fixed in the release I made today. I was running into the same issue.

If this doesn't fix the problem for you, please reopen the issue.

https://github.com/leecbaker/datareftool/releases/tag/2011.03.13

-Lee

[2021-03-14 19:31] #76 closed

[2021-03-14 23:28] leecbaker commented on #70
Hi @Lorsand , since this issue has to do with Xchecklist's functionality rather than DRT, I'd advise you to direct your question towards the folks who make Xchecklist.

@sparker256, who makes Xchecklist, told me that what you're trying to isn't a supported function of Xchecklist. He would be the best person to contact with any future questions about functionality.

I'm closing this issue since the

[2021-03-14 23:28] #70 closed

[2021-03-14 23:29] leecbaker commented on #56
Implemented as part of the new logging system in 14a9633adab3ffecc7c0d6133bc3a26d46feea59

[2021-03-14 23:29] #56 closed

[2021-03-15 08:21] Lorsand commented on #70
Hi @leecbaker, thanks anyway!

[2021-03-18 16:32] leecbaker opened #77 "One specific dataref can't be set by DRT, but can with DRE"
Reported to me via slack:

[2021-03-18 16:35] leecbaker opened #78 "Confirm changed values with numpad enter key"
Lionel reports (via slack) that the numpad enter key doesn't set new values when editing a dataref. This seems easy enough to add, and it's functionality that I would expect to be there.

[2021-03-18 16:38] leecbaker opened #79 "Show dataref descriptions from DataRefs.txt"
Somewhere in the UI, it would be handy to show the explanation text for datarefs and commands that can be found in the datarefs.txt and commands.txt files.

[2021-03-19 04:58] leecbaker commented on #77
I tested writing to this dataref using DRT, and found that sim/cockpit/electrical/battery_charge_watt_hr[0] was overwritten frequently by either the simulator or an aircraft plugin. This overwriting stopped when the simulator was paused; I was able to write to the dataref with no problems when the simulator was paused. This indicates to me that DRT has no problems writing to this specific dataref,

[2021-03-19 04:58] #77 closed

[2021-03-19 05:05] leecbaker commented on #78
This has been implemented in f5859b34968236520cbc1b3e589081860850cd46.

[2021-03-19 05:05] #78 closed

[2021-03-23 14:32] soitanen opened #80 "Can't change sim/time/zulu_time_sec"
Using version from 2021-03-13

What I do:
Open DRT main window
Filter zulu word
Click on zulu_time_sec dataref
Press Edit button
Click on bottom current value
Delete it and make new
Press Set button

Nothing happens.

What I expect: changing of ataref value and changing daytime. I remember, that I could change this value when DRT used old interface.

[2021-04-11 18:45] RotationMatrix opened #81 "Datarefs loaded from aircraft at sim start bypass drt_ignore.txt"
I am encountering the issue in #33 and added the crashing dataref to my `drt_ignore.txt`, however DRT still appears to be reading the dataref. My `drt_ignore.txt` ignores other datarefs but not the one which crashes.

In the debugger just before the crash, it appears the dataref is not ignored since it came from an aircraft.

![drt_ignore_debug](https://user-images.githubusercontent.com/52428419/1

[2021-04-13 15:10] RotationMatrix commented on #81
It appears this behaviour only occurs if the aircraft which contains the ignored dataref is loaded at sim start. A workaround is to load another aircraft (default C172) first and then load the aircraft with the ignored dataref.

[2021-04-20 03:53] leecbaker commented on #80
Hi @soitanen,

I'm not able to replicate this. When I set the zulu time dataref, the time in the simulator changes instantly.

Can you try to replicate this with no other plugins installed to ensure that some plugin isn't overriding the time that you set?

[2021-04-20 03:55] leecbaker commented on #74
Hi @rfresh737,

This is the first time I've heard of this problem.

Which renderer are you using, OpenGL, Vulkan or Metal? Can you post a screenshot of your settings screen, and a copy of Log.txt? If you don't want to post a copy of Log.txt publicly, feel free to email it to me lee@leecbaker.com.

Can you try running DataRefTool with no other plugins installed and see if that fixes the issue? My t

[2021-04-20 04:01] leecbaker commented on #73
Hi @dpdurst,

Definitely sounds like there may be an issue with multiple monitors. It will be a while before I can dig into this, but I'll keep the issue open to track the problem.

Are you on Windows?

[2021-04-20 04:13] leecbaker commented on #81
Hi @RotationMatrix,

Thanks for the bug report, and for the additional details about the Bell 407 crashing bug. I'd love to get both of these fixed.

The first issue seems to be that the ignore list is loaded potentially after the first aircraft. I expect that will be a relatively easy fix. I'll post again in this thread when I think I have a fix.

-Lee

[2021-04-20 04:52] leecbaker commented on #81
Hi @RotationMatrix,

I think I've just fixed this bug. You can get the latest automatically-compiled version of DRT here: https://github.com/leecbaker/datareftool/actions/runs/765890018 Can you confirm that this fixes the issue?

Also, if you can figure out which datarefs are causing the Bell 407 to crash, can you post that in bug #33? Once you post there, I'll put the details on https://datarefto

[2021-04-20 13:06] RotationMatrix commented on #81
Hi @leecbaker

Awesome! This has fixed the crashing and I can confirm in the debugger that the ignored datarefs are showing as expected now. I'll post the list in #33 for reference.

Thanks for an amazing tool! 😃

[2021-04-20 13:06] #81 closed

[2021-04-20 13:06] RotationMatrix commented on #33
It appears these datarefs are the ones crashing. So far the Bell 407 runs without crashing after adding them to my `drt_ignore.txt`.
[code]

[2021-04-20 21:18] leecbaker commented on #33
Thanks for figuring this out! I'll send a note to the developer, maybe we can get this fixed.

[2021-04-24 20:10] RotationMatrix commented on #33
When querying `B407/Lights/CL1`, the array length being returned [here](https://github.com/leecbaker/datareftool/blob/145de6baf5c6d1c39a940ac224001c0cd125ce10/src/libdrt/search/dataref.cpp#L83) seems inconsistent and too large. In three different sessions the length was: 1041955840, 1042089216, and 1042140160. Maybe this is not actually the array length (pointer as value?), leading to an out-of-bo

[2021-04-29 20:25] leecbaker commented on #33
@RotationMatrix Thanks for the help debugging. I've sent a message to the developer, it's in their hands now.

[2021-05-08 10:28] a533 opened #82 "DataRefTool Search Window not showing"
Great app. I have found this bug:

I have a computer with two monitors. My xplane has this settings:

-  Main Monitor: Unused
- Monitor 1: Full Screen Simulator

When I go to “Plugins” → “DataRefTool” → “Search” no windows shows. This is because the DataRefTool windows is “hidden” in the Main Monitor, which X-Plane is not using. I have to go to “Settings”→”Graphics” and select “Main Monitor” to “f

[2021-07-02 05:21] leecbaker commented on #82
Hi @a533,

Thanks for the bug report. Your explanation definitely seems plausible. I don't have time to investigate more during this week or next week, but I will take a look at this eventually.

-Lee

[2021-07-15 19:22] Goodfixins opened #85 "Sim crashing when loading LES Saab 340"
Anytime I load into the LES Saab 340 with the datareftool plugin enabled, the sim crashes. I thought it may be a Gizmo conflict but the problem doesn't happen for me with other Gizmo-enabled aircraft.
[LES SAAB CRASH Log.txt](https://github.com/leecbaker/datareftool/files/6825762/LES.SAAB.CRASH.Log.txt)

[2021-07-24 17:58] LievreAI opened #86 "custom aircraft"
i am try to use this tool to detect command to disable the auto pilot for my joystick

[2021-09-05 14:09] Gunduran commented on #82
I need to come back to the topic also.

The issue is (at least reproducable on my side) whenever you have multiple monitors with different screen sizes.

My configuration in this direction from left to right) : A (1) Philips 49" monitor  (5120 x 1440 max configured by default to 3840 x 1040) a (2) ASUS 28" monitor (3840 x 2160) and an older (3) ASUS 21" (1680 x 1050)

When setting up the new compu

[2021-11-22 13:04] Danita opened #87 "Ability to save search presets"
When you're working on different aspects of the sim (art, aircraft, weather, etc) you tend to search for the same datarefs over and over. It would be nice if you could save those searches as presets that you may later recall and open a new DRT window to save time. Thanks again for this super useful tool!

[2021-11-22 18:13] theegg52 opened #88 "Array Dataref Highlighting"
Is it possible to highlight on the changed array value instead of the whole array. some arrays are huge and it takes a while to locate the value that has changed. love the tool but this would be a great QOL feature if it was possible.

[2021-11-29 05:33] dvsingletary commented on #82
I'm having the same issue since upgrading to the 2021-07-14 release from the 2020-03-23 release.

[2021-12-04 16:22] Clamb94 commented on #82
I have the same issue and had the same issue with my own plugin, but fixed it evantually. If you @leecbaker want, I can have a look at it here and try fixing it

[2021-12-07 18:15] alist commented on #34
Hi @leecbaker, do you have any advice for someone to make their plugin work correctly with "Reload plugins"-- our plugin used to work, but now (and I can't tell if it's because of an XPlane 12 beta we started running) it does not.... We get the "still in use" error out of windows. Are there certain xplane plugin lifecycle hooks we need to respect, or does having a secondary thread running lead to

[2022-01-02 13:42] mauer commented on #85
Unfortunately, I have the same issue, but not just with the LES Saab 340. It also crashed when using the TBM900 and the latest version of the ZIBO 738.

[2022-01-28 23:30] markcellis opened #89 "Odd problem with getting command list through the API"
I'm running into a rather odd issue. X-Camera has some commands that are dynamically generated in code. One of the things I do is use the Plugin messaging to register these dynamical created commands with the dataref tool:

**_void registerDataRefToolCommand(const char *cmd)
{
	const intptr_t MSG_ADD_DATAREF = 0x01000000;
	char tempBuffer[MAX_STR_LEN];
	XPLMPluginID plugin_id = XPLMFindPluginBySig

[2022-07-16 18:01] dvsingletary commented on #82
hey @leecbaker , any chance you can release a build that contains the fix provided by @Clamb94 ?

[2022-07-26 16:59] Goodfixins commented on #85
This is also happening with the new Mitsubishi MU-2 v2

[2022-08-19 11:45] leecbaker commented on #82
This change will be in the next version of DRT. Thanks for the suggestion everybody, and thanks for figuring out the code @a533 .

I will leave this issue open until the new version of DRT is released with this fix.

[2022-09-08 11:11] devleaks opened #91 "Information about "changed" behavior"
Hello,
What's the difference between `ch` and `CH` behavior?
Are array flattened? Change criteria more severe?
Please document.
Thank you

[2022-09-17 15:27] charraeus opened #92 "Issue for colour-weak/-blind people in the search-window"
Hello Lee,
I'm color-impaired, which means that I can't recognize or distinguish colors - especially red, yellow and green hues - very well (about 8 - 9% of all men are affected).

**Would it be possible to make the colors of "Command" and "Command (recently used)" on the one hand and the colors of "Dataref" and "Dataref (recently used) on the other hand more distinguishable?**

For example:
* Dat

[2022-09-18 05:06] leecbaker commented on #92
Hi Christian,

Thanks for bringing this to my attention; I had not even considered the color choices here, so I took a few minutes to learn what I could do, and I found this a good read: https://davidmathlogic.com/colorblind/

I took a look at the safe color palettes introduced in that post; I've coded up a new color palette based on Wong's figure 2 here: https://www.nature.com/articles/nmeth.1618

[2022-09-18 05:24] leecbaker commented on #91
Hi Pierre,

DRT distinguishes between large and small changes; I'm calling a change of less than 1% per frame a "small" change. Imagine things like the outside temperature- it changes, but only very slowly, and very little (as a percentage). There are a ton of datarefs changing very slowly, but they usually aren't what I'm looking for, so I use the "CH" mode- big letters for big changes.

I'm abou

[2022-09-18 07:35] devleaks commented on #91
Thanks. Very handy tool for developer.
In addition of the "amplitude" of the change, one thing you might consider filtering is the frequency of the change. I know you somehow do it through the color of the dataref but I think that it would be handy to optionally exclude datarefs that changes very quickly.
Thank you again for your explanation, I'll report it to plane forum.
Best regards
Pierre

[2022-09-18 07:35] #91 closed

[2022-09-20 15:37] charraeus commented on #92
Hi Lee,
Thank you very much for your effort. I am thrilled and look forward to testing the next version :-)
Some feedback to the screenshot:
1. For me it is very hard to distinguish  "Wong_sky_blue" from "Wong_blue"
2. The "depreciated color" on black background is hardly readable
3. All other is perfectly readable for me

Best regards,
Christian

[2022-09-25 00:40] leecbaker commented on #92
Hi Christian,

Thanks for your feedback. I do hope this is a big improvement!

1. The difference between datarefs that use the wong blue and sky blue- these were all the same color until last week, so I hope that not being able to distinguish this isn't a major loss. I'm not sure what else to do with the colors to produce something usable. Worst case, the "ch" and "CH" filters can be used to separ

[2022-09-25 00:40] #92 closed

[2022-09-25 00:46] leecbaker commented on #80
It's been over a year since this was reported, and I'm unable to replicate this issue. Please re-open if you are still running into it.

[2022-09-25 00:46] #80 closed

[2022-10-03 22:44] thm-unix opened #93 "Doesn't work correctly with Toliss A319"
MCDU datarefs are either showing empty string, or corrupted data. Maybe forgot \0 somewhere?

[2022-10-03 22:49] thm-unix commented on #93
![image](https://user-images.githubusercontent.com/84270488/193699497-c5f59e9d-83e5-4f7e-8f90-ccf19ff323ca.png)

[2022-10-14 12:46] SimInnovations opened #94 "X-Plane 12"
Will you be making a version for X-Plane 12? It does work, but it has a few quirks compared to X-Plane 11. Let me know if you want a list of the issues. I also believe that X-Plane 12 comes with a warning the first time you add the datareftool to X-Plane 12, I dont' remember exactly what it was.

[2022-10-17 08:32] StamTso commented on #94
It's a bit confusing as there is no information in Github and only a tiny remark on the webpage. Datareftool's active repo is not this one anymore. You can find X-Plane 12 compatible versions on their website https://datareftool.com/download

[2022-10-17 08:33] SimInnovations commented on #94
That is good to know. Thank you very much!

[2022-10-24 05:25] leecbaker commented on #94
I agree! I've added a note to the top of the repo pointing to the new location.

[2022-10-24 05:25] #94 closed

[2022-10-24 05:30] leecbaker commented on #93
Most of the datarefs that you've shown above appear to be valid text lines from the MCDU. This is something you'd have to bring up with the developer of the aircraft.

DRT reads the content of datarefs, and displays it as best it can. With the "Data"-type datarefs, there is no guarantee that they contain readable text. DRT makes the assumption that the data contained in them is text, and tries to

[2022-10-24 05:30] #93 closed

[2022-11-13 22:17] 206airmail opened #95 "DRT V2.0.5 - XP12 crashing due to dr->value != ((void *)0) when using Hotstarts 650 Challenger"
DataRefTool is causing X-Plane to crash on this line
2022-11-13 15:13:12 CL650[dr.c:553]: assertion "dr->value != ((void *)0)" failed: CL650/glass/heat_on
Attached is my log.txt
[Log.txt](https://github.com/leecbaker/datareftool/files/9998320/Log.txt)
I have CL650/glass/heat_on added to drt_ignore.txt, however, it's crashing before it ever loads the file to see what to ignore.
I am able to load in

[2022-11-13 22:20] 206airmail commented on #95
I've tried with "impersonate_dre":  set to true and false both, and it crashed both ways.